:root {
  --background: #ffffff;
  --text: #2fb83a;
  --maintext: #363636;
  --nav: #34913c;
  --label: #363636;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--background);
  color: var(--text);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

nav a:link, nav a:visited {
  color: var(--nav);
}

main {
  flex: 1;
  padding-top: 20px;
  color: var(--maintext);
}

header a {
  text-decoration: none;
  color: var(--text)
}

#home {
  position: relative;
  display: grid;
}

.slide {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

.textcontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  color: var(--maintext);
  text-align: justify;
}

.aboutleft {
  flex: 1;
  max-width: 20%;
}

.aboutright {
  flex: 1;
  max-width: 50%;
}

.aboutleft h1,
.aboutright h1 {
  font-size: 20px;
  color: var(--maintext);
  text-align: left;
  padding-top: 20px;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: var(--nav);
  font-family: 'Courier New', Courier, monospace;
}

.photos,
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photos img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.img-wrap {
  position: relative;
  overflow: hidden;
}

.img-wrap img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease, opacity 0.3s ease;
  display: block;
}

.img-wrap a {
  text-decoration: none;
}

.img-wrap-2 {
  position: relative;
  overflow: hidden;
}

.img-wrap-2 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.label {
  display: block;
  width: 100%;
  margin-top: 4px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}

.label a {
  font-family: "courier new", monospace;
  font-weight: 400;
  font-size: 18px;
  color: var(--label);
  position: relative;
}

.img-wrap:hover img {
  filter: grayscale(0%);
}

.img-wrap:hover .label {
  opacity: 1;
}

.modal-overlay {
  display: none;
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(255, 255, 255, 0.89);
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.modal-overlay.show {
  display: flex; 
}

.modal-text {
    position: relative;
    width: 25vw;
    height: 95vh;
    margin-left: 1.5vh;
    margin-right: 4vh;
    color: #000000;
    font-family: "courier new", sans-serif;
    cursor: auto;
    font-size: 17px;
    text-align: justify;
}

.close-btn {
    position: absolute;
    top: 15px; 
    right: 0;
    color: #2c2a2a;
    font-size: 50px;
    line-height: 1;
    cursor: pointer;
}

.close-btn:hover {
    color: var(--text);
}

.pdf-container {
  width: 70vw; 
  height: 95vh;
  margin-right: 1.5vw;
  box-shadow: 0 10px 30px rgba(0,0,0,0.8);
  cursor: auto;
}